<%= render 'layouts/header' %>
<h2>ログイン</h2>
  <div class="form-group ml-auto row">
    <%= form_with(:session, url:login_path) do |f| %>
    <div>
      <%= f.label :name, "名前", class: "col-sm-6 col-form-label" %>
      <%= f.text_field :name %>
      </div>
<div>
      <%= f.label :password, "パスワード", class:"col-sm-6 col-form-label" %>
      <%= f.password_field :password %>
      </div>
      <br>
      <div>
      <%= f.submit "ログイン", class: "btn btn-outline-primary mb-2" %>
      </div>
    <% end %>
</div>
